---
import MainLayout from '@/layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import EventsSection from '../components/EventsSection.astro';
---

<MainLayout title="Events - The G'z Radio">
	<Header />
	<main style="padding: 0;">
		<EventsSection />
	</main>
</MainLayout>
