---
import MainLayout from '/layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import EventsSection from '../components/EventsSection.astro';
import ArtistGrid from '../components/ArtistGrid.astro';
import ClothingSection from '../components/ClothingSection.astro';
---

<MainLayout title="The G'z Radio">
	<Header />
	<Hero />

	<main>
		<EventsSection />
		<ArtistGrid />
		<ClothingSection />
	</main>
</MainLayout>
