---
import Navigation from './Navigation.astro';
---

<header>
  <div class="logo">
    <a href="/">The G'z Radio</a>
  </div>
  <Navigation />
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent; /* Sits on top of the hero section */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  .logo a {
     font-family: Impact, Haettenschweiler, 'Arial Black', sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 1.2;
  color: var(--accent-color-static); /* fallback color */
  display: inline-block;
  transform: rotate(-2deg) skewX(-5deg);
   }
</style>
